#layer0 {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);*/
}
#layer1 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer3 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer4 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer5 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer6 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer7 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer8 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer9 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer10 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer11 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer12 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer13 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer14 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer15 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer16 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer17 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer18 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer7 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer19 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer20 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer21 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer22 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer23 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer24 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer25 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer26 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer27 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer28 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer29 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer30 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer31 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
#layer32 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}


.footerholder {
    display: none;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0 ;
    height: 20px;
    margin: auto;
    width: 100%;
}